{% extends 'rango/base.html' %}
{% block body %}
<div class="span9">
		<!--<div class="well well-small">-->
			<div id="indent">
				<h1>Add a Product</h1>
				{% if createdProduct %}
				<strong>New product has been created successfully !</strong>
				{% else %}
				<form id="add_product_form" method="post" action="/rango/add_product/" enctype="multipart/form-data">
					{% csrf_token %}
					{% for hidden in form.hidden_fields %}
					{{ hidden }}
					{% endfor %}
					<br>
					{{ form.as_p }}
					<input  type="submit" name="submit" value="Create Product" />
				</form>

				{% endif %}
			</div>
		<!--</div>-->
</div>
{% endblock %}