
<div class="row">
	<div class="span9">
		<div class="well well-small">
		<h3>Our Products </h3>
		{% if products_all %}
		{% for product_group in products_all %}
		<div class="row-fluid">
			  <ul class="thumbnails">

				{% for product in product_group %}
				<li class="span4">
				  <div class="thumbnail">
					<a href="/rango/product_details/{{ product.id }}" class="overlay"></a>
					<a class="zoomTool" href="/rango/product_details/{{ product.id }}" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
					<a href="/rango/product_details/{{ product.id }}"><img src={{ product.productLogo.url }} alt=""></a>
					<div class="caption cntr">
						<p>{{ product.brand }}</p>
						<p><strong> ${{ product.price }}</strong></p>
						<h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
						<div class="actionList">
							<a class="pull-left" href="#">Add to Wish List </a>
							<a class="pull-left" href="#"> Add to Compare </a>
						</div>
						<br class="clr">
					</div>
				  </div>
				</li>
				{% endfor %}

			  </ul>
			</div>
			{% endfor %}
		{% else %}
			<strong>There is no categories.</strong>
		{% endif %}
		</div>
	</div>
</div>


