<div class="span9">
		<div class="well well-small">
			{% if products_all %}
            {% for product in products_all %}

			<div class="row-fluid">
				<div class="span2">
					<img src={{ product.product_logo.url }} alt="">
				</div>
				<div class="span6">
					<h5>{{ product.name }} </h5>
					<p>
					The brand of this good is {{ product.brand}}. Nowadays the lingerie industry is one of the most successful business spheres.
					We always stay in touch with the latest fashion tendencies -
					that is why our goods are so popular..
                        {{ product.color }} {{ product.style }}
					</p>
				</div>
				<div class="span4 alignR">
				<form class="form-horizontal qtyFrm">
				<h3> ${{ product.price }}</h3>
				<label class="checkbox">
					<input type="checkbox">  Adds product to compair
				</label><br>
				<div class="btn-group">
				  <a href="/rango/product_details/{{ product.id }}" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
				  <a href="/rango/product_details/{{ product.id }}" class="shopBtn">VIEW</a>
				 </div>
					</form>
				</div>
			</div>
			<hr class="soften">

            {% endfor %}
		{% else %}
		<h3>No goods in this category. Sorry for now!</h3>
		{% endif %}
		</div>
	</div>
