	<div class="span9">
		<div class="well well-small">
			{% if object_list %}
			{% for product in object_list %}
			<div class="row-fluid">
				<div class="span2">
					<img src={{ product.productLogo.url }} alt="">
				</div>
				<div class="span6">
					<h5>{{ product.name | upper }} </h5>
					<p>
					The brand of this good is {{ product.brand}}. Nowadays the lingerie industry is one of the most successful business spheres.
					We always stay in touch with the latest fashion tendencies -
					that is why our goods are so popular..
                        {{ product.color }} {{ product.style }}
					</p>
				</div>
				<div class="span4 alignR">
				<form class="form-horizontal qtyFrm">
				<h3> ${{ product.price }}</h3>
				<label class="checkbox">
					<input type="checkbox">  Adds product to compair
				</label><br>
				<div class="btn-group">
				  <a href="/rango/product_details/{{ product.id }}" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
				  <a href="/rango/product_details/{{ product.id }}" class="shopBtn">VIEW</a>
				 </div>
					</form>
				</div>
			</div>
			<hr class="soften">

            {% endfor %}

					{% if paginator %} <!--checks if there is more then 5 elements on the page-->
					<span class="step-links">
						{% if object_list.has_previous %}
							<a class="list_view" data-prod="{{category_id}}/{{ object_list.previous_page_number }}"}> Previous </a>
						{% endif %}
						<span class="current">
							Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
						</span>
						{% if object_list.has_next %}
							<a class="list_view" data-prod="{{category_id}}/{{ object_list.next_page_number }}"> Next </a>
						{% endif %}
					</span>
					{% endif %}

			{% else %}
			<h3>No goods here yet. Sorry for now!</h3>
			{% endif %}

		</div>
	</div>
