{% extends 'rango/base.html' %}
{% block body %}
<div class="span9">
    <div class="well well-small">
    {% if user.is_authenticated %}
    <h1>Rango says... hello {{ user.username }}!</h1>
    <img height="50" width="70" src={{ user.userprofile.user_logo.url }} alt="taras">
    <h1>{{ user.email }}</h1>
    {% else %}
    <h1>You are not registered! First register please.</h1>
    <a href="/rango/register"><span class="icon-edit"></span>Register here!</a>
    {% endif %}
    </div>
</div>
{% endblock %}