
<!--<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />-->
<!--<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />-->
<!--<script type="text/javascript" src="/admin/jsi18n/"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/core.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/actions.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/urlify.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>-->
<div class="span9">
<div id="container">
    <!-- Content -->
    <div id="content" class="colM">
        <h3>Змінити product</h3>
        <div id="content-main">
    <form enctype="multipart/form-data" action="" method="post" id="product_form" novalidate>
        <input type='hidden' name='csrfmiddlewaretoken' value='GnFeuLXFQUA81YD5hg2fqywn9dobZZI3ADUYSKrNWHWNuXb9RFlYxuvYFewb60or' />
    <div>
      <fieldset class="module aligned ">
            <div class="form-row field-name">
                <div><label class="required" for="id_name">Name:</label>
                    <input class="vTextField" id="id_name" maxlength="128" name="name" type="text" value="{{product.name}}" required />
                </div>
            </div>
            <div class="form-row field-price">
                    <div>
                        <label class="required" for="id_price">Price:</label>
                        <input class="vIntegerField" id="id_price" name="price" type="text" value="{{product.price}}" required />
                    </div>
            </div>
            <div class="form-row field-category">
                <div> <input id="hidden" type="hidden"  data-prod="{{ product.category }}"/>
                    <label class="required" for="id_category">Category:</label>
                    <select id="id_category" name="category" required>
                        {% for category in categories %}
                        <option id="{{ category.0 }}">{{ category.0}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row field-color">
                <div><label class="required" for="id_color">Color:</label>
                    <input class="vTextField" id="id_color" maxlength="20" name="color" type="text" value="{{product.color}}" required />
                </div>
            </div>
            <div class="form-row field-style">
                <div><label class="required" for="id_style">Style:</label>
                    <input class="vTextField" id="id_style" maxlength="20" name="style" type="text" value="{{product.style}}" required />
                </div>
            </div>
            <div class="form-row field-season">
                <div><label class="required" for="id_season">Season:</label>
                    <input class="vTextField" id="id_season" maxlength="20" name="season" type="text" value="{{ product.season }}" required />
                </div>
            </div>
            <div class="form-row field-like">
                <div><label class="required" for="id_like">Like:</label>
                    <input class="vIntegerField" id="id_like" name="like" type="text" value="{{product.like}}" required />
                </div>
            </div>
            <div class="form-row field-brand">
                <div><label class="required" for="id_brand">Brand:</label>
                    <input class="vTextField" id="id_brand" maxlength="20" name="brand" type="text" value="{{product.brand}}" required />
                </div>
            </div>
            <div class="form-row field-product_logo">
                <div><label for="id_product_logo">Product logo:</label>
                    <p class="file-upload">Наразі: <a href={{product.product_logo.url}}>{{product.product_logo}}</a> <span class="clearable-file-input">
                        <input id="product_logo-clear_id" name="product_logo-clear" type="checkbox" />
                        <label for="product_logo-clear_id">Очистити</label></span><br />Змінити: <input id="id_product_logo" name="product_logo" type="file" /></p>
                </div>
            </div>
    </fieldset>

        <div class="submit-row">
            <input type="submit" value="Зберегти" class="default" name="_save" />
        </div>
        <script type="text/javascript"
                id="django-admin-form-add-constants"
                src="/static/admin/js/change_form.js"
                >
        </script>
    <script type="text/javascript"
            id="django-admin-prepopulated-fields-constants"
            src="/static/admin/js/prepopulate_init.js"
            data-prepopulated-fields="[]">
    </script>
    </div>
    </form></div>
        <br class="clear" />
    </div>
</div>
</div>


